body{
    background-image: url(https://cdn.pixabay.com/photo/2022/12/08/19/23/book-store-7643976_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}